<nav>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/services" routerLinkActive="active">Services</a>
  <a routerLink="/product/add" routerLinkActive="active">Ajouter un produit</a>
  <a routerLink="/service/add" routerLinkActive="active">Ajouter un service</a>
</nav>
<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  WAREHOUSE > ORDERS
  <span class="spacer"></span>
  <mat-icon>access_time</mat-icon>{{ currentTime }}
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Log Out</button>
</mat-menu>

<router-outlet></router-outlet>